.vs/Project Tweening/v15/.suo
.vs/Project Tweening/v15/Server/sqlite3/storage.ide-shm
.vs/Project Tweening/v15/Server/sqlite3/storage.ide-wal
Project Tweening/bin/Debug/WindowsFormsApp1.exe
Project Tweening/bin/Debug/WindowsFormsApp1.pdb
Project Tweening/obj/Debug/Project Tweening.csproj.CoreCompileInputs.cache
Project Tweening/obj/Debug/WindowsFormsApp1.exe
Project Tweening/obj/Debug/WindowsFormsApp1.pdb
.vs/Project Tweening/v15/.suo
.vs/Project Tweening/v15/Server/sqlite3/storage.ide-wal
Project Tweening/bin/Debug/WindowsFormsApp1.exe
Project Tweening/bin/Debug/WindowsFormsApp1.pdb
Project Tweening/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Project Tweening/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Project Tweening/obj/Debug/Project Tweening.csprojAssemblyReference.cache
Project Tweening/obj/Debug/Project Tweening.csproj.GenerateResource.cache
Project Tweening/obj/Debug/WindowsFormsApp1.exe
Project Tweening/obj/Debug/WindowsFormsApp1.pdb
